*{
    padding: 0;
    background-color: rgb(65, 65, 65);
}

.container-titulo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
}

.item-titulo{
    text-decoration: none;
    margin: 1px 1px;
    padding: 2px 7px;
    color: #fff;
}

#home-logout{
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    background-color: rgb(153, 0, 0);
    border-color: rgb(165, 0, 0);
}

.container-alunos{
    color: white;
}