*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url('images/fundo_grid.gif');
    background-size: cover;
}

h1{
    color: #fff;
}

.container-title{
    
}